.formContainer{
  margin-left: 25%;
  margin-top: 50px;
  border: 2px solid rgb(164, 164, 164);
  height: 660px;
  width: 700px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formInput{
  margin: 40px 0px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.formContainer label{
  font-size: 17.5px;
}
.signupbutton{
  text-align: center;
}

.signupbutton button{
  font-size: 23px;
  height: 50px;
  width: 200px;
}
.headingform{
  color: rgb(92, 86, 154);
  font-size: 35px;
  text-align: center;
}
.inputField{
  display: flex;
  flex-direction: row;
}
